<mcalizzi-form 
[templateName]="templateName"
(formSubmitted)="submitForm($event)"
></mcalizzi-form>
<div *ngIf = "computedData">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h4>Tax Information</h4>
            <mcalizzi-table 
            [cr-data] = "[
                ['federal income tax', computedData.taxes.federal | currency],
                ['state income tax', computedData.taxes.state | currency],
                ['FICA (social security + medicare)', computedData.taxes.fica | currency],
                ['Total', computedData.taxes.total | currency],
                ['post tax salary', computedData.posttaxSalary | currency]
            ]"
            [co-columnNames] = "['Tax Type', 'Amount']"
            ></mcalizzi-table>
        </div>
        <div class="col-12 col-lg-6">
            <h4>Saving Information</h4>
            <mcalizzi-table 
            [cr-data] = "[
            ['401k contribution', computedData.savings.contribution | currency],
            ['additional savings', computedData.savings.additional | currency],
            ['Total savings (yearly)', computedData.savings.total | currency],
            ['Total savings (monthly)', (computedData.savings.total / 12) | currency],
            ['Total savings (daily)', (computedData.savings.total / 365) | currency]
            ]"
            [co-columnNames] = "['Tax Type', 'Amount']"
            ></mcalizzi-table>
        </div>
        <div class="col-12 col-lg-7">
            <h4 class="text-center">Wealth Accumulation Over Time</h4>
            <mcalizzi-linechart style = "position: relative; display:block"
            [cr-data]="computedData.savingsChartData"
            [co-yaxisPipe]="currencyLettersPipe"
            co-xaxis="age (years)"
            co-yaxis="wealth (dollars)"
            co-tooltip-prefix="Age"
            ></mcalizzi-linechart>
        </div>
        <div class="col-12 col-lg-5">
            <h4 class="text-center">Spending By Percentage</h4>
            <mcalizzi-piechart style = "position: relative; display:block"
            [cr-data]="computedData.pieChartData"
            [co-yaxisPipe] = "currencyLettersPipe"
            ></mcalizzi-piechart>
        </div>
    </div>
</div>