<div class="container">
  <mcalizzi-nav *ngIf="loaded" class="mb-3">
    <ng-template ApplyRef="Savings">
      <savings-info (formSubmitted)="updateDisabled()"></savings-info>
    </ng-template>
    <ng-template ApplyRef="Housing" [disable]="disabled.housing">
      <home-info (formSubmitted)="updateDisabled()"></home-info>
    </ng-template>
    <ng-template ApplyRef="Transportation" [disable]="disabled.transportation">
      <car-info (formSubmitted)="updateDisabled()"></car-info>
    </ng-template>
    <ng-template ApplyRef="Other" [disable]="disabled.other">
      <other-info (formSubmitted)="updateDisabled()"></other-info>
    </ng-template>
    <ng-template ApplyRef="Summary" [disable]="disabled.other">
      <app-summary></app-summary>
    </ng-template>
  </mcalizzi-nav>
</div>