<mcalizzi-form 
[templateName]="templateName"
(formSubmitted)="submitForm($event)"
submitAction="upload"
></mcalizzi-form>
<div *ngIf = "dataCalculated">
    <div class="row">
      <div class="col-12 col-lg-7">
        <h4 class="text-center">Net Worth From Savings</h4>
        <mcalizzi-linechart
          [cr-data]="c.netWorthChart"
          [co-xaxis]="'your age' | titlecase"
          [co-yaxis]="'net worth from savings' | titlecase"
          [co-yaxis-pipe]="currencyLetters"
          co-tooltip-prefix="Age"
        ></mcalizzi-linechart>
      </div>
      <div class="col-12 col-lg-5">
        <h4 class="text-center">Salary Breakdown</h4>
        <mcalizzi-piechart
          [cr-data]="{
            xvalues: c.spendingPercentagesChart.labels,
            yvalues: c.spendingPercentagesChart.yvalues[age-startAge]
          }"
          [co-yaxis-pipe]="currencyLetters"
          co-total-title="Pre-tax Salary"
        ></mcalizzi-piechart>
        <mcalizzi-range
          [cr-min]="startAge"
          [cr-max]="endAge"
          [(cr-value)]="age"
          cr-title="Age"
        ></mcalizzi-range>
      </div>
    </div>
</div>