<div class="mt-3"></div>
<mcalizzi-form
  templateName="carInfo"
  submitAction="upload"
  (formSubmitted)="submitForm($event)"
></mcalizzi-form>

<div *ngIf="c">
  <div class="row">
    <div class="col-12">
      <mcalizzi-table
        [cr-data]="[
          ['Monthly Payment', c.dataOverTime.yvalues[1].payments.total | currency],
          ['Down Payment', c.downPayment | currency]
        ]"
      ></mcalizzi-table>
    </div>
    <div class="col-12 col-lg-7">
      <h4 class="text-center">Net Value From Selling Car</h4>
      <mcalizzi-linechart
        [cr-data]="c.equityInCarChart"
        [co-xaxis]="'your age' | titlecase"
        [co-yaxis]="'net profit from selling car' | titlecase"
        [co-yaxis-pipe]="currencyLetters"
        co-tooltip-prefix="Age"
      ></mcalizzi-linechart>
    </div>
    <div class="col-12 col-lg-5">
      <h4 class="text-center">Payment Breakdown</h4>
      <mcalizzi-piechart
        [cr-data]="{
          xvalues: c.paymentBreakdownChart.labels,
          yvalues: c.paymentBreakdownChart.yvalues[age-startAge]
        }"
        [co-yaxis-pipe]="currencyLetters"
      ></mcalizzi-piechart>
      <mcalizzi-range
        [cr-min]="startAge"
        [cr-max]="endAge"
        [(cr-value)]="age"
        cr-title="Age"
      ></mcalizzi-range>
    </div>
  </div>
</div>