<home-features
  [cr-features]="[
    {
      title: 'Go on a vacation.',
      subtitle: 'And dont feel guilty about it.',
      text: 'We will make sure you know exactly how much you have to spend on things that make you happy. Follow your budget and you\'ll never have to feel guilty about buying something you want again.',
      imgSrc: 'assets/images/image1.jpg'
    },
    {
      title: 'Own a beautiful home.',
      subtitle: 'And know exactly what it will cost you.',
      text: 'See exactly how much you need to afford the home of your dreams. We will do all the hard work for you.',
      imgSrc: 'assets/images/image3.jpg'
    },
    {
      title: 'Become a millionaire.',
      subtitle: 'And never have to rely on Social Security.',
      text: 'We will show you just how powerful saving money consistantly can be. See exactly how much you will have in retirement.',
      imgSrc: 'assets/images/image2.jpg'
    }
  ]"
></home-features>
